@charset "utf-8";
/* CSS Document */

/* Google Open Sans font - Apache 2.0 License */
/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,700,800);*/
@import url(fonts.css);

/* General CSS */

* {
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #F7F0E7;
}

header {
	background-color: #334;
	padding-top: 5px;
	padding-bottom: 5px;
}

h1 {
	font-weight: 400;
}

hr {
	border: 0;
	height: 2px;
	background-color: #333;
}

sub {
	text-decoration: blink 1;
}

spoiler {
	background-color: black;
	color: black;
}

spoiler:hover {
	color: white;
}

/* Header */

.logo {
	height: 100px;
	width: auto;
	margin: -6px;
	margin-top: -4px;
	margin-left: 2px;
}

.blogtitle, .blogcaption {
	position: absolute;
	margin: 0px;
	padding: 0px;
	color: #F3F3F3;
	text-shadow: -1px 1px black;
}

.blogtitle {
	top: 30px;
	left: 120px;
	font-weight: 700;
	font-size: 24px;

}

.blogcaption {
	top: 60px;
	left: 145px;
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
}

/* Navigation */

.navigation a {
	text-decoration: none;
	border: 1px solid #555;
	border-radius: 3px;
	padding-left: 1px;
	padding-right: 1px;
}

.navigation a:link {
	color: blue;
}

.navigation a:visited {
	color: purple;
}

.navigation a:hover {
	color: green;
}

.navigation a:active {
	color: red;
	border: 2px solid #333;
	margin: -1px;
	border-radius: 4px;
}

vr {
	border-left: 2px solid black;
	padding-left: 5px;
	padding-right: 1px;
	padding-top: 8px;
	padding-bottom: 8px;
}

/* Sidebar */

.sidebar {
	border: 1px solid black;
	padding: 2px;
	margin-right: 2px;
	width: 150px;
	float: left;
	font-size: 14px;
}

.sidebar a, .sidebar i {
	padding-left: 12px;
}

.rsidebar {
	border: 1px solid black;
	padding: 2px;
	margin-left: 2px;
	float: right;
	width: 255px;
	font-size: 14px;
}

.rsidebar .userpic {
	height: auto;
	width: 230px;
	display: block;
	padding-top: 12px;
	margin-left: auto;
	margin-right: auto;
}

/* Content */

.content {
	overflow: hidden;
}

.label {
	font-size: 18px;
	font-weight: 700;
}

.post {
	border: 1px solid black;
	padding: 4px 6px;
	margin-bottom: 8px;
	margin-left: 4px;
	margin-right: 4px;
}

/* Post Elements */

.post .picon {
	display: inline-block;
	height: 70px;
	width: auto;
	margin-top: 2px;
	margin-left: 2px;
	vertical-align: middle;
	/*padding: 8px;
	padding-bottom: 2px;*/
	/*margin: -6px;
	margin-top: -4px;
	margin-left: 2px;*/
}

.post hr {
	margin: 7px -2px;
	margin-bottom: -7px;
}

.post .ptitle {
	display: inline-block;
	padding-top: 15px;
	padding-left: 5px;
	font-weight: 400;
	font-size: 20px;
	vertical-align: middle;
}

.post .pcontent {
	display: inline-block;
	margin-top: -4px;
	font-size: 13px;
	font-weight: 400;
}

.post .pfooter {
	overflow: hidden;
	padding: 1px 6px;
	margin-bottom: 2px;
 	font-size: 13px;
	font-style: italic;
	color: #272727;
}

.post .pfooter span {
	padding: 2px 4px;
}

.post .pfooter .ptags {
	border: 1px dashed black;
	margin-top: -1px;
	margin-bottom: 1px;
	float: left;
}

.post .pfooter .ptags a {
	color: inherit;
}

.post .pfooter .pcomments {
	border: 1px dashed black;
	float: right;
}