@charset "utf-8";
/* Comments page CSS */

.comments {
	padding-bottom: 8px;
}

.comments .comment {
	border: dotted 1px black;
	padding: 2px;
}

.comments .comment .name {
	font-size: 15px;
	/*font-style: italic;*/
	/*font-weight: 700;*/

}

.comments .comment .name:not(.owner) {
	font-style: italic;
}

.comments .comment .name.owner {
	font-weight: 700;

}

.comments .comment .message {
	font-size: 13px;
}

.comments .comment .message.removed {
	/*text-decoration: line-through;*/
	font-style: italic;
}